#root {
  margin: 0 auto; 
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media print {
  body {
    background-color: white !important;
    color: black !important;
  }
  .no-print {
    display: none !important;
  }
  table, tr, td, th {
    page-break-inside: avoid;
    break-inside: avoid;
  }
  @page {
    size: auto;
    margin: 1cm;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Líneas más gordas en la vista de mes (dayGrid) */
.fc .fc-daygrid-day,
.fc .fc-col-header-cell {
  border-width: 1.5px !important; /* más grosor */
  border-color: #000 !important; /* puedes poner el color */
}

/* Líneas más gordas en la vista de semana/día (timeGrid) */
.fc .fc-timegrid-slot {
  border-bottom-width: 1.5px !important;
  border-color: #000 !important;
}

/* Opcional: reforzar bordes exteriores */
.fc .fc-scrollgrid {
  border: 1.5px solid #000 !important;
}




/* MuiFormLabel-root.MuiInputLabel-root MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink MuiInputLabel-sizeSmall MuiInputLabel-outlined MuiFormLabel-colorPrimary MuiFormLabel-filled MuiInputLabel-root MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink MuiInputLabel-sizeSmall MuiInputLabel-outlined css-hvjq6j-MuiFormLabel-root-MuiInputLabel-root */